* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 80%;
    font: inherit;
    vertical-align: baseline;
}

html,
body,
#root {
    height: 100vh;
}

body {
    @import './main/colors';
    @import './main/layout';

    @import './elements/button';

    #root {
        display: flex;
        align-items: center;
        flex-direction: column;

        width: 100%;
        height: auto;
        min-height: 100vh;
        background: $grayish;
    }
}
